.site-footer {
    .footer {
        width: 100%;
        background-color: $color-black;

        .container {
            display: flex;
            // grid-template-columns: 1fr 1fr 1fr;
            gap: 32px;

            section {
                flex-grow: 1;
            }
        }
    }

    .bottom-bar {
        width: 100%;
        padding: 32px $padding-desktop;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-gray-500;
        color: $color-gray-200;

        .bottom-logo {
            height: 32px;

            a {
                height: 100%;
                display: block;

                img {
                    height: 100%;
                    width: auto;
                    filter: brightness(1) invert(1);
                }
            }
        }

        .copyright {
            color: inherit;
        }
    }
}