@import './variables';
@import './mixins';

.site-content {
    padding-top: $header-height-desktop;

    @media (max-width: $bp-tablet-max) {
        padding-top: $header-height-mobile;
    }
}

.container {
    max-width: $container-max;
    width: 100%;
    margin: 0 auto;
    padding: 50px $padding-desktop;

    @media (max-width: $bp-mobile-max) {
        padding: 40px $padding-mobile;
    }
}

.row {
    @include row();
}